{% extends 'Arbitre/index.html.twig' %}

{% block body %}
    <section class="container align-content-center mt-5" style="margin-top: 20px">
        {{ include('Arbitre/penalite/form.html.twig') }}
    </section>
{% endblock %}