



{% extends 'Admin/index.html.twig' %}

{% block body %}
    <section class="container align-content-center mt-5" style="margin-top: 20px">
        <h1>Modifier competition </h1>
        <div class="container">
            {{ form(f,{'attr':{'novalidate':'novalidate'}}) }}
        </div>

    </section>
{% endblock %}












