{% extends 'Admin/index.html.twig' %}

{% block body %}
    <section class="container align-content-center mt-5" style="margin-top: 20px">
        {{ include('Admin/terrain/form.html.twig') }}
    </section>
{% endblock %}