{% extends 'front/base.html.twig' %}

{% block body %}
    <section class="container align-content-center mt-5" style="margin-top: 20px">
        {{ include('front/formparticiper.html.twig') }}
    </section>
{% endblock %}