{% extends'front/base.html.twig' %}
{% block title %} terrain
{% endblock %}
{% block body %}

    <div class="kode-subheader subheader-height">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form method="post">
                        <input type="text" id="search" class="form-control" name="search" placeholder="Recherche" style="width: 300px; color: #0d66c2">
                        <button type="submit" value="" class="btn search">Chercher</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--// SubHeader //-->

    <!--// Main Content //-->
    <div id="cat" class="kode-content">
        {% for message in app.flashes('success')%}

            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor%}
        <!--// Page Content //-->
        <section class="kode-pagesection">
            <div class="container">
                <div class="row">

                    <div class="kode-pagecontent col-md-12">

                        <div class="kode-gallery">
                            <ul class="row">
                                {% for t in terrains %}
                                <li class="col-md-4">
                                    <a href="{{ path ('show_t', {'id':t.id}) }}"><img src="{{ asset('uploads/terrains/' ~t.image) }}" alt=""
                                                                                            style="width: 400px; height: 250px; border-radius: 20px"></a>

                                </li>
                                {% endfor %}




                            </ul>
                            <!--// Pagination //-->
                            <div class="pagination">
                                <a href="#"><i class="fa fa-angle-double-left"></i></a>
                                <a href="#">1</a>
                                <a href="#">2</a>
                                <span>3</span>
                                <a href="#">4</a>
                                <a href="#"><i class="fa fa-angle-double-right"></i></a>
                            </div>
                            <!--// Pagination //-->
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <!--// Page Content //-->

    </div>
    <!--// Main Content //-->


    <!-- /row -->

    <!-- /MAIN CONTENT -->
    <!--main content end-->






{% endblock%}